.Rproj.user
.Rhistory
.RData
.Ruserdata

# MacOS .DS_Store file does not provide anything useful to collaborators and
# causes conflicts between Mac users
.DS_Store

/.quarto/

data-exercise/.env
data-exercise/.venv
data-exercise/data/vid-mp4